extends ../template/template.pug

include ../../blocks/navigation/navigation.pug
include ../../blocks/about-boarder/about-boarder.pug


block title
    | My Syte - ABOUT

block navigation
    +navigation([{link: "index.html", buttonSettings: {text:"main", color:"red", size:"", effect:"", activeStatus:""}},
                {link: "about.html", buttonSettings: {text:"about", color:"green", size:"", effect:"", activeStatus:""}},
                {link: "portfolio.html", buttonSettings: {text:"portfolio", color:"red", size:"", effect:"", activeStatus:""}},
                {link: "contacts.html", buttonSettings: {text:"contacts", color:"red", size:"", effect:"", activeStatus:""}}
                ])

block content
    +pageNavigation([{previousPageLink: "index.html", arrowButtonSettings: {direction:"left", arrowColor:"#4EB7A8", buttonColor:"white"}},
                    {nextPageLink: "portfolio.html", arrowButtonSettings: {direction:"right", arrowColor:"#4EB7A8", buttonColor:"white"}}])

    +about-boarder()