extends ../template/template.pug

include ../../blocks/video-frame/video-frame.pug

block title
    | My Syte - ABOUT

block left-arr
    .navigation__arr-button
        a.navigation__link(href= "index.html")
            +arrow-button({direction:"left", arrowColor:"#4EB7A8", buttonColor:"white"})

block content
    .about Посмотрите это небольшое видео обо мне и моей деятельности:
        .about__video
            +video-frame({link:"https://player.vimeo.com/video/62980495", color: "E75735"})

block right-arr
    .navigation__arr-button
        a.navigation__link(href= "portfolio.html")
            +arrow-button({direction:"right", arrowColor:"#4EB7A8", buttonColor:"white"})