.switch
  display block
  position relative
  width 3.333rem
  height 1.333rem
  border-radius 1.889rem
  cursor pointer

  &__input
    position absolute
    top 0
    left 0
    opacity 0

    &:checked ~ .switch__text
      background-color #4EB7A8

      &:before
        opacity 0

      &:after
        opacity 1

    &:checked ~ .switch__slider
      left 2.167rem

  &__text
    background-color #E5E5E5
    border-radius inherit
    color #FFFFFF
    display block
    font-size 0.6rem
    font-weight bold
    height inherit
    position relative

    &:after
      position absolute
      content attr(data-yes)
      top 0.333rem
      left 0.722rem
      opacity 0

    &:before
      position absolute
      content attr(data-no)
      top 0.333rem
      right 0.722rem

  &__slider
    position absolute
    top 0.167rem
    left 0.167rem
    height 1rem
    width 1rem
    background-color #FFFFFF
    border-radius 100%
    transition All 0.3s ease