mixin toggle-switch(option = {checked: false})
    -let {checked = false} = option;
    label.switch
        -if (checked) {
            input.switch__input(type="checkbox", checked)/
        -} else {
            input.switch__input(type="checkbox")/
        -}
        span.switch__text(data-yes="ON", data-no="OFF")
        span.switch__slider