.events
	background url(../blocks/events/images/events-photo.png) -60px -1px no-repeat
	min-height 212px
	border-radius 3px
	color #FFFFFF
	&__content-block
		width 153px
		min-height 199px
		padding 13px 17px 0 23px
		float right
		border-top-right-radius 3px
		border-bottom-right-radius 3px
		font-weight normal
		font-size 0.63rem
		margin 0
		letter-spacing 0.02rem
		line-height 0.75rem
		&_color_green
			background #4EB7A8
	&__date-1
		float left
		font-size 4rem
		font-weight normal
		margin 3px 0 0 -5px
		line-height 3.5rem
	&__date-2
		float left
		font-size 1.8rem
		font-weight normal
		margin 44px 0 0 10px
		letter-spacing -0.08rem
	&__title
		font-size 0.7rem
		font-weight bold
		letter-spacing 0.03rem
		margin 86px 0 -7px -3px

@media only screen and (max-width 604px)
	.news-events__events
		float left