extends ../template/template.pug

include ../../blocks/navigation/navigation.pug
include ../../blocks/main-page-boarder/main-page-boarder.pug

block title
    | My Syte - MAIN

block navigation
    +navigation([{link: "index.html", buttonSettings: {text:"main", color:"green", size:"", effect:"ripple", activeStatus:""}},
                {link: "about.html", buttonSettings: {text:"about", color:"red", size:"", effect:"ripple", activeStatus:""}},
                {link: "portfolio.html", buttonSettings: {text:"portfolio", color:"red", size:"", effect:"ripple", activeStatus:""}},
                {link: "contacts.html", buttonSettings: {text:"contacts", color:"red", size:"", effect:"ripple", activeStatus:""}}
                ])

block content
    +pageNavigation([{previousPageLink: "index.html", arrowButtonSettings: {direction:"left", arrowColor:"#FFFFFF", buttonColor:"gray"}},
                    {nextPageLink: "about.html", arrowButtonSettings: {direction:"right", arrowColor:"#FFFFFF", buttonColor:"green"}}])

    +main-page-boarder()        