.main__calendar
	display inline-block
	width 279px
	margin 20px 10px 20px 0

.main__events
	display inline-block
	margin 20px 10px
	width 279px
	vertical-align top

.main__news
	display inline-block
	margin 20px 10px
	width 279px
	vertical-align top

.main__text
	display block