extends ../template/template.pug

block title
    | My Syte - MAIN

block navigation
    div(class="navigation__std-button")
        button(class="std-button std-button_color_green std-button_ripple-eff", onclick="location.href='index.html'") MAIN
    div(class="navigation__std-button")
        button(class="std-button std-button_color_red std-button_ripple-eff", onclick="location.href='about.html'") ABOUT
    div(class="navigation__std-button")
        button(class="std-button std-button_color_red std-button_ripple-eff", onclick="location.href='portfolio.html'") PORTFOLIO
    div(class="navigation__std-button")
        button(class="std-button std-button_color_red std-button_ripple-eff", onclick="location.href='contacts.html'") CONTACTS

block left-arr
    div(class="navigation__arr-button")
        +arr-button("left","#FFFFFF", "gray", "index.html")

block content
    h1(class="main__text") На этой странице можете запланировать встречу со мной на определенное число, а так же посмотреть анонсы предстоящих событий и последние новости.
    div(class="main__calendar") Планировщик событий
        form(class="calendar__form")
            input(class="datepicker__digit", disabled)
            div(class="datepicker js-datepicker")

    div(class="main__events") Блок предстоящих событий
        div(class="events events_color_green")
            div(class="events__content-block-left")
            form(class="events__content-block-right")
                h1(class="events__date-1") 24
                h1(class="events__date-2") Aug
                h2(class="events__title") THIS IS THE TITLE
                p(class="events__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                div(class="events__button")
                    button(class="std-button std-button_color_green std-button_theme_events") ADD TO CALENDAR

    div(class="main__news") Блок новостей
        div(class="news news_color_red")
            div(class="news__content-block-left")
            div(class="news__content-block-right")
                h2(class="news__header") It's all going downhill
                h2(class="news__date") 24 AUGUST 2013
                p(class="news__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.


block right-arr
    div(class="navigation__arr-button")
        +arr-button("right","#FFFFFF", "green", "about.html")

mixin arr-button(direction, arrcolor, color, href)
    -var ppoints;
    -(direction == "left")?ppoints = "18,11 8,21 18,31":ppoints="10,11 20,21 10,31";
        button(class="arr-button arr-button_color_"+color , onclick="location.href='"+href+"'")
            svg(class="arr-button__arrow")
                polyline(points= ppoints, fill="none", stroke-width="4", stroke= arrcolor)