.main-page

  &__calendar
    display inline-block
    width 279px
    margin 20px 10px 20px 0

  &__events
    display inline-block
    margin 20px 10px
    width 279px
    vertical-align top

  &__news
    display inline-block
    margin 20px 10px
    width 279px
    vertical-align top

  &__text
    display block