.standard-button
  width 100%
  height 100%
  min-width 6.556rem
  min-height 1.944rem
  border none
  cursor pointer
  color #FFFFFF
  border-radius 0.222rem
  font-family 'Lato', Sans-Serif
  font-weight bold
  text-transform uppercase

  &_color

    &_green
      background #4EB7A8
      border 0.056rem solid #4EB7A8
      border-bottom 0.222rem solid #28A290

    &_red
      background #E75735
      border 0.056rem solid #E75735
      border-bottom 0.222rem solid #BF3F1F

  &_inactive

    &-green
      color #4EB7A8
      background #FFFFFF

    &-red
      color #E75735
      background #FFFFFF

  &_size_small
    min-width 4.333rem
    min-height 1.222rem
    font-size 0.48rem
    letter-spacing 0.08rem
    font-weight bold

  &_ripple-effect
    border none
    position relative
    overflow hidden

  &_ripple
    position absolute
    top 50%
    left 50%
    width 0.278rem
    height 0.278rem
    background rgba(255, 255, 255, .6)
    opacity 0
    border-radius 100%
    animation ripple 0.6s ease-out

@keyframes ripple
  0%
    transform scale(0, 0)
    opacity 1
  20%
    transform scale(15, 15)
    opacity 1
  50%
    transform scale(30, 30)
    opacity 0.3
  100%
    opacity 0
    transform scale(40, 40)