header(class="main-header page__header")
    h1(class="main-header__title") MySite
    div(class="search main-header__search")
        input(class="search__input", type="search", placeholder="Search", name="keywords")
        button(class="search__button")