.main-header
    background #111111
    color #FFFFFF

.page__header
    width 73%
    min-height 150px
    margin 0
    padding 40px 0 0 27%
    border none

.main-header__title
    font-size 2rem
    font-weight bold
    float left
    line-height 0rem

.main-header__search
    float left
    width 25%
    margin-left 28%
    margin-top 0.6rem