.sliderValue
	position absolute
	left -9px
	bottom 28px
	width 35px
	height 24px
	background #E75735
	border none
	border-radius 5px
	text-align center
	font-weight bold
	color #FFFFFF

.sliderValue_2
	border 5px solid transparent
	border-top 5px solid #E75735
	position absolute
	left 50%
	margin-left -5px
	top -9px