div(class="messaging")
    +header-of-block("MESSAGING")
    div(class="messaging__container")
        div(class="messaging__header-1") Sarah Brown
        div(class="messaging__photo")
        div(class="messaging__header-2")
        div(class="messaging__body")
            div(class="messaging__icon messaging__icon_left")
            div(class="messaging__icon messaging__icon_right")
            div(class="messaging__massage") Hey ! So are we cool to meet at the art gallery? Say 8pm
            textarea(class="messaging__massage-input") Yeah that sounds great. See you then.
            button(class="messaging__button std-button std-button_color_green") REPLY