extends page.pug

block title
    | My Syte - MAIN

block nvigation
    button(class="std-button std-buttons__std-button std-button_color_green std-button_ripple-eff", onclick="location.href='index.html'") MAIN
    button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff", onclick="location.href='about.html'") ABOUT
    button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff", onclick="location.href='categories.html'") CATEGORIES
    button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff", onclick="location.href='contacts.html'") CONTACTS

block content
    | контент главной