doctype html
html(class="main")
    head
        meta(charset = "utf-8")/
        meta(name = "description", content = "Мой сайт из набора элементов")/
        meta(name = "keywords", content = "верстка")/
        meta(name = "author", content = "Sergey Karbyshev")/
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")/
        script(src="vendors/jquery-ui-1.12.1.custom/external/jquery/jquery.js")
        script(src="vendors/jquery-ui-1.12.1.custom/jquery-ui.js")
        title
            block title
    body(class="page main__page")
        include ../blocks/main-header/main-header.pug
        nav(class="main-nav page__nav")
            block nvigation
        article(class="main-article page__article")
            block content
        include ../blocks/main-footer/main-footer.pug