.news
  display flex
  min-height 11.778rem
  border-radius 0.167rem
  color #FFFFFF
  background #E75735

  &__image
    background-position -2.944rem 0
    background-repeat no-repeat
    width 38.306%
    border-top-left-radius 0.167rem
    border-bottom-left-radius 0.167rem

  &__content
    width 61.694%
    padding 1.111rem 0.944rem 0 1.278rem
    border-top-right-radius 0.167rem
    border-bottom-right-radius 0.167rem
    font-weight normal
    font-size 0.63rem
    letter-spacing 0.02rem
    line-height 0.75rem

  &__header
    font-weight normal
    font-size 1.53rem
    line-height 1.45rem
    margin 0

  &__date
    font-weight bold
    font-size 0.6rem
    margin 0.667rem 0 0.611rem
    letter-spacing 0.06rem
    text-transform uppercase