.datepicker__digit
	font-family 'Lato', Sans-Serif
	width 187px
	height 104px
	background #E75735
	color #FFFFFF
	font-size 4.2rem
	font-weight normal
	padding 0.3rem 0 0 33.1%
	border none
	border-top-right-radius 3px
	border-top-left-radius 3px

@media only screen and (max-width 604px)
	.datepicker__digit
		width 185px