.datepicker__digit
  font-family 'Lato', Sans-Serif
  max-width 187px
  background #E75735
  color #FFFFFF
  font-size 4.5rem
  font-weight normal
  padding 0.35rem 0 0.25rem 33.1%
  border none
  border-top-right-radius 3px
  border-top-left-radius 3px

@media only screen and (max-width 604px)
  .datepicker__digit
    max-width 185px