.slider-with-pop-up

  &__handle_theme_orange
  &__range-min_theme_orange
    background #E75735 !important

  &__value
    position absolute
    left -0.5rem
    bottom 1.556rem
    width 1.944rem
    height 1.333rem
    background #E75735
    border none
    border-radius 0.278rem
    text-align center
    font-weight bold
    color #FFFFFF

    &-tail
      border 0.278rem solid transparent
      border-top 0.278rem solid #E75735
      position absolute
      left 0.278rem
      top -0.5rem