mixin slider-with-pop-up(options = {min: 0, max: 100, step: 1, value: 40, range: "", theme: "orange"})
    -let {min = 0, max = 100, step = 1, value = 40, range = "", theme = "orange"} = options;
    .slider-with-pop-up.js-slider-with-pop-up(data-min= min, data-max= max, data-step= step, data-value= value, data-range= range, data-theme= theme)