@font-face {
  font-family: 'Lato';
  src: url(fonts/Lato-Black.eot);
  src: local('\263A'), url(fonts/Lato-Black.woff) format('woff'), url(fonts/Lato-Black.ttf) format('truetype'), url(fonts/Lato-Black.svg) format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(fonts/lato-light.eot);
  src: local('\263A'), url(fonts/lato-light.woff) format('woff'), url(fonts/lato-light.ttf) format('truetype'), url(fonts/lato-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
.main-header {
  background: #111;
  color: #fff;
}
.page__header {
  width: 73%;
  min-height: 150px;
  margin: 0;
  padding: 40px 0 0 27%;
  border: none;
}
.main-header__title {
  font-size: 2rem;
  font-weight: bold;
  float: left;
  line-height: 0rem;
}
.main-header__search {
  float: left;
  width: 25%;
  margin-left: 28%;
  margin-top: 0.6rem;
}
.main-footer {
  background: #fff;
  color: #111;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #111;
}
.page__footer {
  width: 100%;
  height: 80px;
  padding-top: 20px;
}
.std-buttons {
  min-height: 275px;
  margin-top: 81px;
}
.std-buttons__row {
  margin-left: 52px;
}
.std-buttons__row_first {
  margin-top: 62px;
}
.std-buttons__std-button {
  margin: 10px 12px;
  display: inline;
  vertical-align: bottom;
}
.std-button {
  width: 118px;
  height: 32px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  font-family: 'Lato', Sans-Serif;
  font-weight: bold;
}
.std-button_inactive-green {
  color: #4eb7a8;
  background: #fff;
  border: 1px solid #4eb7a8;
  border-bottom: 4px solid #4eb7a8;
}
.std-button_inactive-red {
  color: #e75735;
  background: #fff;
  border: 1px solid #e75735;
  border-bottom: 4px solid #e75735;
}
.std-button_color_green {
  background: #4eb7a8;
  border-bottom: 4px solid #28a290;
}
.std-button_color_red {
  background: #e75735;
  border-bottom: 4px solid #bf3f1f;
}
.std-button_size_small {
  width: 78px;
  height: 22px;
  font-size: 0.5rem;
  font-weight: bold;
}
.std-button_ripple-eff {
  position: relative;
  overflow: hidden;
  border: none;
}
.std-button_ripple-eff:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}
.std-button_ripple-eff:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
@-moz-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@-o-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
.form-elements {
  min-height: 336px;
}
.form-elements__left-block {
  float: left;
  width: 48.35%;
  margin-top: 37px;
}
.form-elements__right-block {
  float: right;
  width: 48%;
  text-align: center;
  margin-top: 22px;
}
.simple-form__input-text {
  float: right;
  width: 67.4%;
  height: 26px;
  margin: 0 0 12px 0;
}
.simple-form__input-textarea {
  float: right;
  width: 95%;
  min-height: 78px;
  margin: 0;
  padding-top: 10px;
}
.input-text {
  background: #e5e5e5;
  color: #888;
  border: none;
  border-radius: 3px;
  font-family: 'Lato', Sans Serif;
  font-size: 0.77rem;
  font-weight: normal;
  padding-left: 4.4%;
}
.simple-form__button {
  float: right;
  width: 40.5%;
  height: 35px;
  margin: 10px 0 0 0;
}
.simple-form__message {
  float: right;
  width: 24.8%;
  height: 23px;
  margin: 0 0 0 2.69%;
}
.input-message {
  position: relative;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 0.5rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.06rem;
  padding-top: 5px;
}
.input-message__tail {
  border: 4px solid transparent;
  position: absolute;
  right: 100%;
  top: 35%;
}
.input-message__tail_color_red {
  border-right: 4px solid #e75735;
}
.input-message__tail_color_green {
  border-right: 4px solid #4eb7a8;
}
.input-message_color_red {
  background: #e75735;
}
.input-message_color_green {
  background: #4eb7a8;
}
.form-elements__positioner-1 {
  padding: 16px 0 22px 0;
}
.switch {
  position: relative;
  width: 60px;
  height: 24px;
  border-radius: 34px;
  cursor: pointer;
}
.form-elements__switch {
  display: inline-block;
  margin: 0 7px 0 8px;
}
.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch__text {
  background-color: #e5e5e5;
  border-radius: inherit;
  color: #fff;
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  height: inherit;
  position: relative;
}
.switch__text:before,
.switch__text:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  transition: inherit;
}
.switch__text:before {
  content: attr(data-no);
  right: 11px;
}
.switch__text:after {
  content: attr(data-yes);
  left: 13px;
  color: #fff;
  font-size: 0.6rem;
  font-weight: bold;
  opacity: 0;
}
.switch__input:checked ~ .switch__text {
  background-color: #4eb7a8;
}
.switch__input:checked ~ .switch__text:before {
  opacity: 0;
}
.switch__input:checked ~ .switch__text:after {
  opacity: 1;
}
.switch__slider {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 100%;
}
.switch__input:checked ~ .switch__slider {
  left: 39px;
}
.switch__text,
.switch__slider {
  transition: All 0.4s ease;
}
.tick-box {
  display: inline-block;
}
.tick-box__input {
  display: none;
}
.tick-box__circle-arrow {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 17px;
  background: url(images/tick-boxes.png) -30px 0 no-repeat;
  cursor: pointer;
}
.tick-box__input:checked + label span {
  background: url(images/tick-boxes.png) 0 0 no-repeat;
}
.form-elements__positioner-2 {
  padding: 19px 0 0 11px;
}
.search-drop-down {
  float: left;
  width: 48.5%;
}
.search {
  height: 28px;
}
.search-drop-down__search-1 {
  margin: 20px 0 16px;
  width: 100%;
}
.search-drop-down__search-2 {
  margin: 0 0 8px;
  width: 100%;
}
.search__input {
  border: none;
  background: #e5e5e5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 13px;
  color: #888;
  float: left;
  width: 88.5416%;
  height: 28px;
}
.search__input_color_red {
  background: #e75735;
  color: #fff;
  font-weight: bold;
  font-family: 'Lato', Sans-Serif;
}
.search__button {
  float: left;
  width: 11.4584%;
  height: 28px;
  border: none;
  background: #e75735 url(images/mag_glass.png) 10px 7px no-repeat;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.ui-selectmenu-text:after {
  content: "";
  width: 11.5%;
  height: 100%;
  background: #4eb7a8 url(images/arrow_down.png) 8px 10px no-repeat;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ui-selectmenu-menu .ui-menu {
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 1px;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  padding: 2px 0.4em;
  margin: 0.5em 0 0 0;
  height: auto;
  border: 0;
}
.ui-selectmenu-open {
  display: block;
}
.ui-selectmenu-text {
  display: block;
  margin-right: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap;
}
.ui-button {
  width: 91.4%;
  background: #e5e5e5;
  font-weight: normal;
  color: #888;
  padding: 0.4em 1em;
  height: 17px;
  margin-top: 18px;
  display: block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px 0.4em;
}
.ui-front {
  z-index: 100;
}
.ui-widget {
  font-size: 0.7rem;
  letter-spacing: 0.02rem;
}
.ui-widget-content {
  background: #e5e5e5;
  color: #333;
}
.ui-state-active,
.ui-button:active {
  background: #e75735;
  font-weight: normal;
  color: #fff;
}
.location {
  min-height: 362px;
}
.location__map {
  width: 100%;
  min-height: 204px;
  border: none;
  padding-top: 17px;
}
.location__legend {
  background: #e75735;
  color: #fff;
  height: 3.88rem;
  margin-top: -5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.location__invite {
  float: left;
  padding-top: 15px;
  padding-left: 29px;
  width: 135px;
  font-size: 1.6rem;
}
.location__adress {
  float: left;
  padding-top: 19px;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.location__icon {
  float: right;
  padding: 22px 26px 0 0;
}
.location__icon_first {
  padding: 21px 22px 0 0;
}
.main {
  font-size: 18px;
  background: #111;
}
.main__page {
  width: 100%;
  margin: 0;
}
.page {
  background: #fff;
  color: #4f4f4f;
  font-family: 'Lato', Sans-Serif;
}
.main-nav {
  background: #111;
}
.page__nav {
  width: 100%;
  text-align: center;
}
.main-article {
  background: #fff;
}
.page__article {
  width: 100%;
  height: 600px;
}
.location,
.contacts__location {
  max-width: 1024px;
  margin: 0 auto;
}
.contacts__mail-form {
  max-width: 300px;
  margin: 0 auto;
}
