@font-face {
  font-family: 'Lato';
  src: url(fonts/lato-black.eot);
  src: local('\263A'), url(fonts/lato-black.woff) format('woff'), url(fonts/lato-black.ttf) format('truetype'), url(fonts/lato-black.svg) format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(fonts/lato-light.eot);
  src: local('\263A'), url(fonts/lato-light.woff) format('woff'), url(fonts/lato-light.ttf) format('truetype'), url(fonts/lato-light.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
.main {
  font-size: 18px;
  background: #111;
  font-family: 'Lato', Sans-Serif;
}
.main__page {
  width: 100%;
  margin: 0;
  background: #fff;
  color: #4f4f4f;
}
.page__nav {
  width: 100%;
  text-align: center;
  background: #111;
  padding-bottom: 20px;
}
.page__article {
  width: 100%;
  background: #fff;
}
.page__content {
  display: inline-block;
  width: 60%;
  padding-top: 20px;
}
.page__content-left-block {
  display: inline-block;
  width: 20%;
}
.page__content-right-block {
  display: inline-block;
  width: 20%;
}
.navigation__std-button {
  margin: 0 12px;
  display: inline;
}
.navigation__arr-button {
  margin: 0 50% 20px 50%;
}
/* pages*/
.page__header {
  width: 95%;
  min-height: 150px;
  margin: 0;
  padding: 40px 0 0 5%;
  border: none;
  background: #111;
  color: #fff;
}
.header__title {
  font-size: 2rem;
  font-weight: bold;
  float: left;
  line-height: 0rem;
  margin-left: 13.5%;
}
.header__search {
  margin: 1.6rem 0 2rem 0;
  height: 28px;
  width: 100%;
}
.header__positioner-1 {
  position: relative;
  width: 266px;
  height: 93px;
  margin: 30px 0 0 0;
  float: left;
}
.header__right-block {
  float: left;
  width: 17%;
  margin-left: 40%;
}
.page__footer {
  background: #fff;
  color: #111;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #111;
  width: 100%;
  height: 80px;
  padding-top: 20px;
}
.main__calendar {
  display: inline-block;
  width: 279px;
  margin: 20px 10px 20px 0;
}
.main__events {
  display: inline-block;
  margin: 20px 10px;
  width: 279px;
  vertical-align: top;
}
.main__news {
  display: inline-block;
  margin: 20px 10px;
  width: 279px;
  vertical-align: top;
}
.main__text {
  display: block;
}
.about {
  max-width: 640px;
  margin: 20px auto;
}
.portfolio__stage {
  margin: 25px 0 0 0;
  height: 80px;
  width: 60%;
}
.portfolio__slider2 {
  margin: 25px 0 0 0;
  height: 80px;
  width: 60%;
}
.portfolio__slider1 {
  margin: 25px 0 0 0;
  height: 80px;
  width: 60%;
}
.toggle-tick {
  margin: 25px 0 0 0;
  height: 80px;
  width: 60%;
}
.portfolio__positioner {
  display: inline-block;
  margin-right: 30px;
}
.portfolio__percentage {
  margin: 25px 0 0 0;
  width: 60%;
}
.contacts-map {
  max-width: 640px;
  margin: 20px auto;
}
.contacts-mail-form {
  max-width: 644px;
  margin: 20px auto;
}
.contacts-chat {
  position: relative;
  width: 288px;
  min-height: 428px;
  margin: 20px auto;
}
/* blocks*/
.std-button {
  width: 118px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  font-family: 'Lato', Sans-Serif;
  font-weight: bold;
  text-transform: uppercase;
}
.std-button_inactive-green {
  color: #4eb7a8;
  background: #fff;
  border: 1px solid #4eb7a8;
  border-bottom: 4px solid #4eb7a8;
}
.std-button_inactive-red {
  color: #e75735;
  background: #fff;
  border: 1px solid #e75735;
  border-bottom: 4px solid #e75735;
}
.std-button_color_green {
  background: #4eb7a8;
  border-bottom: 4px solid #28a290;
}
.std-button_color_red {
  background: #e75735;
  border-bottom: 4px solid #bf3f1f;
}
.std-button_ripple-eff {
  height: 32px;
  position: relative;
  overflow: hidden;
  border: none;
}
.std-button_ripple-eff:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,0.6);
  opacity: 0;
  border-radius: 100%;
}
.std-button_ripple-eff:active::after {
  animation: ripple 0.8s ease-out;
}
.std-button_size_small {
  width: 78px;
  height: 22px;
  font-size: 0.48rem;
  letter-spacing: 0.08rem;
  font-weight: bold;
}
.std-button_theme_events {
  display: block;
  background: #fff;
  color: #4eb7a8;
  font-size: 0.6rem;
  letter-spacing: 0.03rem;
  width: 128px;
  height: 26px;
  margin: 19px 9px 24px;
}
.std-button_theme_chat {
  display: block;
  font-family: 'Lato', Sans-Serif;
  width: 244px;
  height: 35px;
  margin: 15px auto;
}
@-moz-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  50% {
    transform: scale(30, 30);
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  50% {
    transform: scale(30, 30);
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@-o-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  50% {
    transform: scale(30, 30);
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(15, 15);
    opacity: 1;
  }
  50% {
    transform: scale(30, 30);
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}
.search {
  display: flex;
  min-height: 28px;
}
.search__input {
  border: none;
  background: #e5e5e5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 13px;
  color: #888;
  width: 88.5416%;
}
.search__input_color_red {
  background: #e75735;
  color: #fff;
  font-weight: bold;
  font-family: 'Lato', Sans-Serif;
}
.search__button {
  width: 11.4584%;
  cursor: pointer;
  border: none;
  background: #e75735 url(images/mag-glass.png) 50% 50% no-repeat;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.profile__photo {
  float: left;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 4px solid #e5e5e5;
}
.profile__photo_num-photo_1 {
  background: url(images/photo-john-smith.png) -26px 0px no-repeat;
}
.profile__photo_num-photo_2 {
  background: url(images/photo-sarah-brown.png) -8px -8px no-repeat;
}
.profile__content {
  position: relative;
  float: right;
  width: 163px;
  height: 93px;
  border-radius: 6px;
  background: #e5e5e5;
}
.profile__content_theme_green {
  background: #4eb7a8;
}
.profile__content:before {
  content: '';
  border: 6px solid transparent;
  border-right: 6px solid #e5e5e5;
  position: absolute;
  left: -12px;
  top: 43%;
}
.profile__content_theme_green:before {
  content: '';
  border: 6px solid transparent;
  border-right: 6px solid #4eb7a8;
  position: absolute;
  left: -12px;
  top: 43%;
}
.profile__name {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin: 9px 0 0 0;
}
.profile__name_theme_light {
  color: #e75735;
}
.profile__name_theme_green {
  color: #fff;
}
.profile__post {
  display: block;
  font-size: 0.6rem;
  letter-spacing: 0.04rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1px 0 0 0;
}
.profile__post_theme_light {
  color: #4f4f4f;
}
.profile__post_theme_green {
  color: #fff;
}
.profile__icons {
  padding: 10px 0 0 5px;
  text-align: center;
}
.profile__social-icon-middle {
  margin: 0 17px 0 23px;
}
.map {
  display: flex;
  flex-direction: column;
}
.map__frame {
  width: 100%;
  min-height: 203px;
  border: none;
  padding-top: 16px;
}
.map__legend {
  background: #e75735;
  color: #fff;
  width: 100%;
  min-height: 69px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.map__invite {
  float: left;
  padding-top: 15px;
  padding-left: 29px;
  width: 135px;
  font-size: 1.6rem;
}
.map__adress {
  float: left;
  padding-top: 19px;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.map__icon {
  float: right;
  padding: 22px 26px 0 0;
}
.map__icon_first {
  padding: 21px 22px 0 0;
}
@media only screen and (max-width: 410px) {
  .map__legend {
    height: 6rem;
  }
}
.simple-form {
  min-height: 214px;
}
.simple-form__input-text {
  float: right;
  width: 67.4%;
  margin: 0 0 12px 0;
  padding: 0.3rem 0 0.3rem 0;
  background: #e5e5e5;
  color: #888;
  border: none;
  border-radius: 3px;
  font-family: 'Lato', Sans Serif;
  font-size: 0.77rem;
  font-weight: normal;
  padding-left: 4.4%;
}
.simple-form__input-textarea {
  float: right;
  width: 95%;
  min-height: 78px;
  margin: 0;
  padding-top: 10px;
  background: #e5e5e5;
  color: #888;
  border: none;
  border-radius: 3px;
  font-family: 'Lato', Sans Serif;
  font-size: 0.77rem;
  font-weight: normal;
  padding-left: 4.4%;
}
.simple-form__button {
  float: right;
  margin: 10px 0 0 0;
}
.simple-form__message {
  float: right;
  width: 24.8%;
  margin: 0 0 0 2.69%;
  padding-bottom: 0.3rem;
  position: relative;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 0.5rem;
  line-height: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  padding-top: 5px;
}
.simple-form__message-tail {
  border: 4px solid transparent;
  position: absolute;
  right: 100%;
  top: 35%;
}
.simple-form__message-tail_color_red {
  border-right: 4px solid #e75735;
}
.simple-form__message-tail_color_green {
  border-right: 4px solid #4eb7a8;
}
.simple-form__message_color_red {
  background: #e75735;
}
.simple-form__message_color_green {
  background: #4eb7a8;
}
.chat__header-1 {
  position: relative;
  background: #4eb7a8;
  color: #fff;
  min-height: 65px;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: -0.1rem;
  padding: 17px 0 0 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.chat__header-2 {
  background: #46ab9d;
  min-height: 34px;
}
.chat__photo {
  position: absolute;
  top: 70px;
  left: 32.6%;
  width: 86px;
  min-height: 86px;
  border-radius: 50%;
  border: 4px solid #e5e5e5;
  background: url(images/photo-sarah-brown.png) -5px -7px no-repeat;
}
.chat__body {
  background: #f2f2f2;
  min-height: 250px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-top: 62px;
}
.chat__icon {
  position: absolute;
  width: 25px;
  min-height: 22px;
  background: url(images/icon-3.png) 0 0 no-repeat;
}
.chat__icon_left {
  left: 9.5%;
  top: 138px;
}
.chat__icon_right {
  background-position: 97% 0;
  left: 81.7%;
  top: 137px;
}
.chat__message {
  position: relative;
  background: #fff;
  color: #868686;
  width: 199px;
  min-height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 17px 25px 0 20px;
  font-size: 0.7rem;
  letter-spacing: 0.04rem;
}
.chat__message-tail {
  content: '';
  border: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  left: 109px;
  top: -13px;
}
.chat__message-input {
  display: block;
  width: 200px;
  min-height: 66px;
  border: 4px solid #fff;
  border-radius: 5px;
  margin: 19px auto 0;
  background: #e5e5e5;
  color: #868686;
  font-family: 'Lato', Sans-Serif;
  font-size: 0.7rem;
  letter-spacing: 0.04rem;
  padding: 14px 20px 0 16px;
}
@media only screen and (max-width: 604px) {
  .messaging__massage:before {
    top: 232px;
  }
}
.video-frame {
  width: 100%;
  height: 338px;
  border: 0;
  padding-top: 7px;
}
.arr-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
}
.arr-button__arrow {
  width: 27px;
  height: 37px;
}
.arr-button_color_green {
  background: #4eb7a8;
}
.arr-button_color_gray {
  background: #e5e5e5;
}
.arr-button_color_white {
  background: #fff;
  color: #4eb7a8;
  border: 3px solid #4eb7a8;
}
.stage {
  width: 100%;
  height: 29px;
}
.stage__line {
  stroke-width: 5;
  stroke: #e5e5e5;
}
.stage__line_color_red {
  stroke: #e75735;
}
.stage__circle_color_red {
  fill: #e75735;
}
.stage__circle_color_grey {
  fill: #e5e5e5;
}
.stage__text {
  font-size: 0.8rem;
  font-weight: bold;
}
.stage__text_color_white {
  fill: #fff;
}
.stage__text_color_darkgrey {
  fill: #888;
}
@media only screen and (max-width: 604px) {
  .stage__text {
    font-size: 0.5rem;
  }
}
.slider2__scale {
  min-width: 260px;
  padding-top: 3px;
}
.slider2__digit-1 {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: bold;
  color: #9d9d9d;
  width: 23%;
}
.slider2__digit-2,
.slider2__digit-3,
.slider2__digit-4 {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: bold;
  color: #9d9d9d;
  width: 24%;
}
.slider2__digit-5 {
  display: inline-block;
  font-size: 0.6rem;
  font-weight: bold;
  color: #9d9d9d;
  width: 4%;
}
.slider-value {
  position: absolute;
  left: -9px;
  bottom: 28px;
  width: 35px;
  height: 24px;
  background: #e75735;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.slider-value__tail {
  border: 5px solid transparent;
  border-top: 5px solid #e75735;
  position: absolute;
  left: 5px;
  top: -9px;
}
.switch {
  display: block;
  position: relative;
  width: 60px;
  height: 24px;
  border-radius: 34px;
  cursor: pointer;
}
.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch__text {
  background-color: #e5e5e5;
  border-radius: inherit;
  color: #fff;
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  height: inherit;
  position: relative;
}
.switch__text:before,
.switch__text:after {
  position: absolute;
  top: 6px;
  transition: inherit;
}
.switch__text:before {
  content: attr(data-no);
  right: 11px;
}
.switch__text:after {
  content: attr(data-yes);
  left: 13px;
  color: #fff;
  font-size: 0.6rem;
  font-weight: bold;
  opacity: 0;
}
.switch__input:checked ~ .switch__text {
  background-color: #4eb7a8;
}
.switch__input:checked ~ .switch__text:before {
  opacity: 0;
}
.switch__input:checked ~ .switch__text:after {
  opacity: 1;
}
.switch__slider {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 100%;
}
.switch__input:checked ~ .switch__slider {
  left: 39px;
}
.switch__text,
.switch__slider {
  transition: All 0.4s ease;
}
.tick-box-input {
  display: none;
}
.tick-box-circle-arrow {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 17px;
  background: url(images/tick-boxes.png) -30px 0 no-repeat;
  cursor: pointer;
}
.tick-box-input:checked + label span {
  background: url(images/tick-boxes.png) 0 0 no-repeat;
}
.pie-chart {
  max-width: 96px;
  max-height: 96px;
}
.pie-chart__circle {
  fill: none;
  stroke-width: 17;
}
.pie-chart__circle_color_grey {
  stroke: #e5e5e5;
}
.pie-chart__circle_color_red {
  stroke: #747474;
}
.pie-chart__circle_color_green {
  stroke: #e75735;
}
.pie-chart__circle_color_light-grey {
  stroke: #4eb7a8;
}
.percentage {
  max-width: 96px;
  max-height: 96px;
}
.percentage__circle {
  fill: none;
  stroke: #e75735;
  stroke-width: 5;
  stroke-dashoffset: 84;
}
.percentage__text {
  font-weight: normal;
  font-size: 2.3rem;
  fill: #9d9d9d;
}
.datepicker__digit {
  font-family: 'Lato', Sans-Serif;
  max-width: 187px;
  background: #e75735;
  color: #fff;
  font-size: 4.5rem;
  font-weight: normal;
  padding: 0.35rem 0 0.25rem 33.1%;
  border: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
@media only screen and (max-width: 604px) {
  .datepicker__digit {
    max-width: 185px;
  }
}
.news {
  min-height: 212px;
  border-radius: 3px;
  color: #fff;
  display: flex;
}
.news_color_red {
  background: #e75735;
}
.news__content-block-left {
  background: url(images/news-photo.png) -53px 0 no-repeat;
  width: 38.306%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.news__content-block-right {
  width: 61.694%;
  padding: 20px 17px 0 23px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: normal;
  font-size: 0.63rem;
  letter-spacing: 0.02rem;
  line-height: 0.75rem;
}
.news__header {
  font-weight: normal;
  font-size: 1.53rem;
  line-height: 1.45rem;
  margin: 0;
}
.news__date {
  font-weight: bold;
  font-size: 0.6rem;
  margin: 12px 0 11px;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}
.events {
  min-height: 212px;
  border-radius: 3px;
  color: #fff;
  display: flex;
}
.events_color_green {
  background: #4eb7a8;
}
.events__content-block-left {
  background: url(images/events-photo.png) -60px -1px no-repeat;
  width: 37.306%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.events__content-block-right {
  width: 62.694%;
  padding: 16px 17px 0 17px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: normal;
  font-size: 0.63rem;
  letter-spacing: 0.02rem;
  line-height: 0.75rem;
}
.events__date-1 {
  display: inline-block;
  font-size: 4rem;
  font-weight: normal;
  line-height: 3.5rem;
  margin: 0;
}
.events__date-2 {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: -0.08rem;
  margin-left: 9px;
}
.events__title {
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  margin: 3px 0 0 4px;
}
.events__text {
  letter-spacing: 0.025rem;
  margin: 4px 0 0 5px;
}
.events__button {
  margin: 0 0 0 6px;
}
