article(class="main-article page__article")
    div(class="location contacts__location")
        iframe(class="location__map", src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12611.379727947122!2d-122.4220465!3d37.7936737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858092e7ee4833%3A0xba9adf323eff9155!2s1259+California+St%2C+San+Francisco%2C+CA+94109%2C+USA!5e0!3m2!1sen!2sru!4v1513867048557", allowfullscreen)
        div(class="location__legend")
            div(class="location__invite") Meet us!
            div(class="location__adress") 1259 CALIFORNIA ST
                br/ SAN FRANCISCO, CA 
            div(class="location__icon")
                img(src="public/images/icon-2.png")
            div(class="location__icon location__icon_first")
                img(src="public/images/icon-1.png")
    div(class="mail-form contacts__mail-form")
        input(class="form-elements__input-text input-text", type="text", name="your-name", value="Your Name")/
        div(class="form-elements__message input-message input-message_color_red") ERROR
        input(class="form-elements__input-text input-text", type="text", name="your-email", value="Your Email")/
        div(class="form-elements__message input-message input-message_color_green") THANKS!
        textarea(class="form-elements__input-textarea input-text") Your Message
        input(class="std-button std-button_color_green form-elements__button", type="submit", value="SUBMIT")/