.main-article
    background #FFFFFF

.page__article
    width 100%
    height 600px

.location

.contacts__location
    max-width 1024px
    margin 0 auto

.contacts__mail-form
    max-width 300px
    margin 0 auto