.profile
  display flex
  align-items center

  &__photo
    width 4.667rem
    height 4.667rem
    border-radius 50%
    border 0.222rem solid #E5E5E5
    background-repeat no-repeat
    
  &__content
    position relative
    width 9.056rem
    min-height 5.167rem
    border-radius 0.333rem
    background #E5E5E5
    margin-left 0.556rem

    &:before
      content ''
      border 0.333rem solid transparent
      border-right 0.333rem solid #E5E5E5
      position absolute
      left -0.667rem
      top 43%

    &_theme_green
      background #4EB7A8

      &:before
        content ''
        border 0.333rem solid transparent
        border-right 0.333rem solid #4EB7A8
        position absolute
        left -0.667rem
        top 43%

  &__name
    display block
    font-size 1rem
    font-weight normal
    text-align center
    margin 0.5rem 0 0 0
    word-break break-all

    &_theme_light
      color #E75735

    &_theme_green
      color #FFFFFF

  &__profession
    display block
    font-size 0.6rem
    font-weight bold
    letter-spacing 0.04rem
    text-align center
    text-transform uppercase
    margin 0.056rem 0 0 0
    word-break break-all

    &_theme_light
      color #4F4F4F

    &_theme_green
      color #FFFFFF

  &__icons
    padding 0.556rem 0 0 0.278rem
    text-align center

  &__icon:nth-child(2)
    margin 0 0.944rem 0 1.278rem