.map
	&__frame
		width 100%
		min-height 204px
		border none
		padding-top 17px
	&__legend
		background #E75735
		color #FFFFFF
		height 3.88rem
		margin-top -5px
		border-bottom-right-radius 3px
		border-bottom-left-radius 3px
	&__invite
		float left
		padding-top 15px
		padding-left 29px
		width 135px
		font-size 1.6rem
	&__adress
		float left
		padding-top 19px
		font-size 0.65rem
		font-weight bold
		letter-spacing 1.2px
	&__icon
		float right
		padding 22px 26px 0 0
		&_first
			padding 21px 22px 0 0

@media only screen and (max-width 410px)
	.map__legend
		height 6rem