include ../../blocks/video-frame/video-frame.pug

mixin about-boarder()
    .about 
        .about__header Посмотрите это небольшое видео обо мне и моей деятельности:
        .about__video
            +video-frame({link:"https://player.vimeo.com/video/62980495", color: "E75735"})