div(class="std-buttons")
    +header-of-block("STANDARD BUTTONS")
    div(class="std-buttons__row std-buttons__row_first")
        button(class="std-button std-buttons__std-button std-button_color_green std-button_ripple-eff std-button_size_small") BUTTON
        button(class="std-button std-buttons__std-button std-button_color_green std-button_ripple-eff") BUTTON
        button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff") BUTTON
        button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff std-button_size_small") BUTTON
    div(class="std-buttons__row")
        button(class="std-button std-buttons__std-button std-button_color_green std-button_size_small") BUTTON
        button(class="std-button std-buttons__std-button std-button_color_green") BUTTON
        button(class="std-button std-buttons__std-button std-button_color_red") BUTTON
        button(class="std-button std-buttons__std-button std-button_color_red std-button_size_small") BUTTON
    div(class="std-buttons__row")
        button(class="std-button std-buttons__std-button std-button_inactive-green std-button_size_small") BUTTON
        button(class="std-button std-buttons__std-button std-button_inactive-green") BUTTON
        button(class="std-button std-buttons__std-button std-button_inactive-red") BUTTON
        button(class="std-button std-buttons__std-button std-button_inactive-red std-button_size_small") BUTTON