.simple-form
  min-height 214px
  &__input-text
    float right
    width 67.4%
    margin 0 0 12px 0
    padding 0.3rem 0 0.3rem 0
    background #E5E5E5
    color #888888
    border none
    border-radius 3px
    font-family 'Lato', Sans Serif
    font-size 0.77rem
    font-weight normal
    padding-left 4.4%
  &__input-textarea
    float right
    width 95%
    min-height 78px
    margin 0
    padding-top 10px
    background #E5E5E5
    color #888888
    border none
    border-radius 3px
    font-family 'Lato', Sans Serif
    font-size 0.77rem
    font-weight normal
    padding-left 4.4%
  &__button
    float right
    margin 10px 0 0 0
  &__message
    float right
    width 24.8%
    margin 0 0 0 2.69%
    padding-bottom 0.3rem
    position relative
    border-radius 3px
    color #FFFFFF
    font-weight bold
    font-size 0.5rem
    line-height 1.0rem
    text-align center
    text-transform uppercase
    letter-spacing 0.06rem
    padding-top 5px
    &-tail
      border 4px solid transparent
      position absolute
      right 100%
      top 35%
      &_color_red
        border-right 4px solid #E75735
      &_color_green
        border-right 4px solid #4EB7A8
    &_color_red
      background #E75735
    &_color_green
      background #4EB7A8