.simple-form
  min-height 11.889rem

  &__input-text
    float right
    width 67.4%
    margin 0 0 0.667rem 0
    padding 0.3rem 0 0.3rem 0
    background #E5E5E5
    color #888888
    border none
    border-radius 0.167rem
    font-family 'Lato', Sans Serif
    font-size 0.77rem
    font-weight normal
    padding-left 4.4%

  &__input-textarea
    float right
    width 95%
    min-height 4.333rem
    margin 0
    padding-top 0.556rem
    background #E5E5E5
    color #888888
    border none
    border-radius 0.167rem
    font-family 'Lato', Sans Serif
    font-size 0.77rem
    font-weight normal
    padding-left 4.4%

  &__button
    float right
    margin 0.556rem 0 0 0

  &__message
    float right
    width 24.8%
    margin 0 0 0 2.69%
    padding-bottom 0.3rem
    position relative
    border-radius 0.167rem
    color #FFFFFF
    font-weight bold
    font-size 0.5rem
    line-height 1.0rem
    text-align center
    text-transform uppercase
    letter-spacing 0.06rem
    padding-top 0.278rem

    &-tail
      border 0.222rem solid transparent
      position absolute
      right 100%
      top 35%

      &_color_red
        border-right 0.222rem solid #E75735

      &_color_green
        border-right 0.222rem solid #4EB7A8

    &_color_red
      background #E75735

    &_color_green
      background #4EB7A8