.page__header
  display flex
  align-items center
  justify-content space-around
  flex-wrap wrap
  width 100%
  padding-top 20px
  background #111111
  color #FFFFFF

.header__title
  order 2
  font-size 2rem
  font-weight bold
  line-height 0rem
  text-align center

.header__search
  padding-top 20px
  height 28px
  width 100%

.header__positioner-1
  order 1
  width 266px
  height 93px

.header__right-block
  order 3
  width 286px

@media only screen and (max-width 400px)
  .header__title
    order 1
  .header__positioner-1
    order 2