include ../../blocks/profile/profile.pug
include ../../blocks/search-form/search-form.pug
include ../../blocks/selectmenu/selectmenu.pug

header.wrap__header
    .header__positioner-1
        +profile({photo: "images/facepalm.png", photoPosition:"-1.444rem 0", name: "Sergio Ka", profession: "будущий frontender", theme: "light", iconsTheme: "dark"})
    h1.header__title MySite
    .header__right-block
        +search-form({placeholder:"Search", errorStatus:false})
        +selectmenu({selectedItem: 1, items:["Язык сайта","Русский","English","Deutsche","Esperanto"]})