.page__header
	width 95%
	min-height 150px
	margin 0
	padding 40px 0 0 5%
	border none
	background #111111
	color #FFFFFF

.header__title
	font-size 2rem
	font-weight bold
	float left
	line-height 0rem
	margin-left 13.5%

.header__search
	margin 1.6rem 0 2rem 0
	height 28px
	width 100%

.header__positioner-1
	position relative
	width 266px
	height 93px
	margin 30px 0 0 0
	float left

.header__right-block
	float left
	width 17%
	margin-left 40%