extends ../template/template.pug

include ../../blocks/navigation/navigation.pug
include ../../blocks/portfolio-boarder/portfolio-boarder.pug

block title
    | My Syte - CATEGORIES

block navigation
    +navigation([{link: "index.html", buttonSettings: {text:"main", color:"red", size:"", effect:"", activeStatus:"inactive"}},
                {link: "about.html", buttonSettings: {text:"about", color:"red", size:"", effect:"", activeStatus:"inactive"}},
                {link: "portfolio.html", buttonSettings: {text:"portfolio", color:"green", size:"", effect:"", activeStatus:"inactive"}},
                {link: "contacts.html", buttonSettings: {text:"contacts", color:"red", size:"", effect:"", activeStatus:"inactive"}}
                ])

block content
    +pageNavigation([{previousPageLink: "about.html", arrowButtonSettings: {direction:"left", arrowColor:"#4EB7A8", buttonColor:"white"}},
                    {nextPageLink: "contacts.html", arrowButtonSettings: {direction:"right", arrowColor:"#4EB7A8", buttonColor:"white"}}])

    +portfolio-boarder({percentageMaxNumber: 95, percentageStep: 5.5})