extends ../template/template.pug

include ../../blocks/percentage/percentage.pug
include ../../blocks/pie-chart/pie-chart.pug
include ../../blocks/slider-discrete/slider-discrete.pug
include ../../blocks/slider-with-pop-up/slider-with-pop-up.pug
include ../../blocks/stage/stage.pug
include ../../blocks/toggle-switch/toggle-switch.pug
include ../../blocks/tick-box/tick-box.pug

block title
    | My Syte - CATEGORIES

block left-arr
    .navigation__arr-button
        a.navigation__link(href= "about.html")
            +arrow-button({direction:"left", arrowColor:"#4EB7A8", buttonColor:"white"})

block content
    .portfolio Здесь представлены примеры моей работы, в частности верстка элементов пользовательского интерфейса.
        .portfolio__stage
            +stage({markedStage:6, maxStage:9, colorOfMarkedStage:"#091DF4", colorOfInactiveStage:"#FEED03",
                    textColor:"#FEED03", inactiveTextColor:"#091DF4"})
        .portfolio__slider-2
            +slider-discrete({min: 0, max: 100, step: 10, value: 70, range: "min", theme: "green"})
        .portfolio__slider-1
            +slider-with-pop-up({min: 10, max: 100, step: 1, value: 30, range: "", theme: "orange"})
        .portfolio__positioner
            +pie-chart([{color:"#E5E5E5", percent:20},
                        {color:"orange", percent:10},
                        {color:"#091DF4", percent:25},
                        {color:"yellow", percent:15},
                        {color:"#E75735", percent:30}])
        .portfolio__positioner
            +toggle-switch({checked: true})
        .portfolio__positioner
            +tick-box({checked: true, id: "c1"})
        .portfolio__percentage
            -for(let i=0;i<=100;i+=3.5) {
                +percentage(i)
            -}

block right-arr
    .navigation__arr-button
        a.navigation__link(href= "contacts.html")
            +arrow-button({direction:"right", arrowColor:"#4EB7A8", buttonColor:"white"})