.portfolio__stage
	margin 25px 0 0 0
	height 80px
	width 60%

.portfolio__slider2
	margin 25px 0 0 0
	height 80px
	width 60%

.portfolio__slider1
	margin 25px 0 0 0
	height 80px
	width 60%

.toggle-tick
	margin 25px 0 0 0
	height 80px
	width 60%

.portfolio__positioner
	display inline-block
	margin-right 30px

.portfolio__percentage
	margin 25px 0 0 0
	width 60%