extends ../template/template.pug

include ../../blocks/navigation/navigation.pug
include ../../blocks/contacts-boarder/contacts-boarder.pug

block title
    | My Syte - CONTACTS

block navigation
    +navigation([{link: "index.html", buttonSettings: {text:"main", color:"red", size:"small", effect:"ripple", activeStatus:""}},
                {link: "about.html", buttonSettings: {text:"about", color:"red", size:"small", effect:"ripple", activeStatus:""}},
                {link: "portfolio.html", buttonSettings: {text:"portfolio", color:"red", size:"small", effect:"", activeStatus:""}},
                {link: "contacts.html", buttonSettings: {text:"contacts", color:"green", size:"small", effect:"", activeStatus:"inactive"}}
                ])

block content
    +pageNavigation([{previousPageLink: "portfolio.html", arrowButtonSettings: {direction:"left", arrowColor:"#FFFFFF", buttonColor:"green"}},
                    {nextPageLink: "contacts.html", arrowButtonSettings: {direction:"right", arrowColor:"#FFFFFF", buttonColor:"gray"}}])

    +contacts-boarder()