extends ../template/template.pug

include ../../blocks/map/map.pug
include ../../blocks/simple-form/simple-form.pug
include ../../blocks/chat/chat.pug

block title
    | My Syte - CONTACTS

block left-arr
    .navigation__arr-button
        a.navigation__link(href= "portfolio.html")
            +arrow-button({direction:"left", arrowColor:"#FFFFFF", buttonColor:"green"})

block content
    .contacts
        .contacts__map Как добраться до моей студии:
            +map({invite: "Meet us!", localAdress: "1259 california st", globalAdress: "san francisco, ca",
                link: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12611.379727947122!2d-122.4220465!3d37.7936737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858092e7ee4833%3A0xba9adf323eff9155!2s1259+California+St%2C+San+Francisco%2C+CA+94109%2C+USA!5e0!3m2!1sen!2sru!4v1513867048557"})
        .contacts__mail-form Можете написать мне письмо:
            +simple-form()
        .contacts__chat Либо связаться со мной в чате:
            +chat({name: "Sergio Ka", photo: "images/facepalm.png",
                    message: "Hey ! So are we cool to meet at the art gallery? Say 8pm",
                    inputPlaceholder: "Yeah that sounds great. See you then.",
                    buttonSettings: {text:"Zapushit' v chat", color:"red", size:"", effect:"", activeStatus:""}
                })

block right-arr
    .navigation__arr-button
        a.navigation__link(href= "contacts.html")
            +arrow-button({direction:"right", arrowColor:"#FFFFFF", buttonColor:"gray"})