include ../../blocks/wrap/wrap.pug
include ../../blocks/arrow-button/arrow-button.pug

mixin pageNavigation(options = [{previousPageLink: "index.html", arrowButtonSettings: {direction:"left", arrowColor:"#FFFFFF", buttonColor:"gray"}}, {nextPageLink: "about.html", arrowButtonSettings: {direction:"right", arrowColor:"#FFFFFF", buttonColor:"green"}}])
    .wrap__left-navigation-arrow-block
        a.wrap__link(href= options[0].previousPageLink)
            +arrow-button(options[0].arrowButtonSettings)
    .wrap__right-navigation-arrow-block
        a.wrap__link(href= options[1].nextPageLink)
            +arrow-button(options[1].arrowButtonSettings)

doctype html
html
    head
        meta(charset = "utf-8")/
        meta(name = "description", content = "Мой сайт из набора элементов")/
        meta(name = "keywords", content = "верстка")/
        meta(name = "author", content = "Sergey Karbyshev")/
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")/
        link(rel = "shortcut icon", href = require('../../images/favicon.ico'), type = "image/x-icon")/
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCscn18ZPcC-ildPKU4IQeE7PClEFQ8AAQ")
        title
            block title
    body
        +wrap()