@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato-black.eot');
  src: local('☺'), url('../../fonts/lato-black.woff') format('woff'), url('../../fonts/lato-black.ttf') format('truetype'), url('../../fonts/lato-black.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/lato-light.eot');
  src: local('☺'), url('../../fonts/lato-light.woff') format('woff'), url('../../fonts/lato-light.ttf') format('truetype'), url('../../fonts/lato-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html
  font-size 18px
  font-family 'Lato', Arial, Sans-Serif
  background #111111

body
  margin 0

.wrap
  display flex
  flex-direction column
  height 100%
  width 100%
  min-width 300px
  margin 0
  background #ffffff
  color #4F4F4F

  &__navigation
    width 100%
    text-align center
    background #111111
    padding-bottom 20px

  &__article
    display flex
    align-items flex-end
    flex-wrap wrap
    flex 1 0 auto
    width 100%
    background #FFFFFF

  &__content
    width 60%
    padding-top 20px
    align-self flex-start

  &__content-left-block
    width 20%

  &__content-right-block
    width 20%

@media only screen and (max-width 600px)
  .wrap__content
    width 100%
    &-left-block
      display none
    &-right-block
      display none