.sliders
	min-height 120px

.sliders__right-column
	float right
	width 260px
	padding 33px 5px 15px 32px

.sliders__left-column
	float left
	width 260px
	padding 33px 37px 40px 0

.slider2__scale
	width 260px
	padding-top 3px

.slider2__digit
	display inline-block
	font-size 0.6rem
	font-weight bold
	color #9D9D9D

.digit-1
	width 23%

.digit-2
	width 24%

.digit-3
	width 24%

.digit-4
	width 24%

.digit-5
	width 4%

/*JQuery UI slider CSS start here*/

.ui-slider {
	display: flex;
	position: relative;
	text-align: left;
	background-color: #E5E5E5 !important;
	border: none !important;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
	background: #E75735;
	border: none;
}

.even-handle, .even-range-min {
	background: #4EB7A8 !important;
}

.ui-slider .ui-slider-range {
	position: relative;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	background: #E75735;
}

.sliderValue {
	position: absolute;
    left: -9px;
    bottom: 28px;
    width: 35px;
	height: 24px;
	background: #E75735;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
}

.sliderValue_2 {
    border: 5px solid transparent;
    border-top: 5px solid #E75735;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -9px;
}

.ui-slider-horizontal {
	height: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -8px;
	margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 3px;
}
/*JQuery UI slider CSS end here*/