div(class="sliders")
    +header-of-block("SLIDERS")
    div(class="sliders__left-column")
        div(id="slider1")
    div(class="sliders__right-column")
        div(id="slider2")
        div(class="slider2__scale")
            div(class="slider2__digit digit-1") 0
            div(class="slider2__digit digit-2") 25
            div(class="slider2__digit digit-3") 50
            div(class="slider2__digit digit-4") 75
            div(class="slider2__digit digit-5") 100