nav(class="main-nav page__nav")
    button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff") MAIN
    button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff") ABOUT
    button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff") CATEGORIES
    button(class="std-button std-buttons__std-button std-button_color_red std-button_ripple-eff") CONTACTS