mixin video-frame(options = {link:"https://player.vimeo.com/", color: "e75735"})
    -let {link = "https://player.vimeo.com/", color = "e75735"} = options;
    iframe.video-frame(src= `${link}?color=${color}&portrait=0`, allowfullscreen)