.news-events
    min-height 302px

.news-events__news
    margin-top 21px
    float left
    
.news
    background url(blocks/news-events/images/news-photo.png) -53px 0 no-repeat
    width 48.5%
    min-height 212px
    border-radius 3px
    color #FFFFFF

.news__content-block
    width 153px
    min-height 192px
    padding 20px 17px 0 23px
    float right
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    font-weight normal
    font-size 0.63rem
    margin 0
    letter-spacing 0.02rem
    line-height 0.75rem

.news__content-block_color_red
    background #E75735

.news__header
    font-weight normal
    font-size 1.53rem
    line-height 1.45rem
    margin 0

.news__date
    font-weight bold
    font-size 0.6rem
    margin 12px 0 11px
    letter-spacing 0.06rem

.news-events__events
    margin-top 21px
    float right

.events
    background url(blocks/news-events/images/events-photo.png) -60px -1px no-repeat
    width 48.4%
    min-height 192px
    border-radius 3px
    color #FFFFFF

.events__content-block
    width 153px
    min-height 192px
    padding 13px 17px 0 23px
    float right
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    font-weight normal
    font-size 0.63rem
    margin 0
    letter-spacing 0.02rem
    line-height 0.75rem

.events__content-block_color_green
    background #4EB7A8

.events__date-1
    float left
    font-size 4rem
    font-weight normal
    margin 3px 0 0 -5px
    line-height 3.5rem

.events__date-2
    float left
    font-size 1.8rem
    font-weight normal
    margin 44px 0 0 10px
    letter-spacing -0.08rem

.events__title
    font-size 0.7rem
    font-weight bold
    letter-spacing 0.03rem
    margin 86px 0 -7px -3px

.events__button
    display block
    background #FFFFFF
    color #4EB7A8
    font-size 0.6rem
    letter-spacing 0.03rem
    width 128px
    height 25px
    margin 19px 9px 24px