div(class="news-events")
    +header-of-block("NEWS & EVENTS")
    div(class="news news-events__news")
        div(class="news__content-block news__content-block_color_red")
            h1(class="news__header") It's all going downhill
            h2(class="news__date") 24 AUGUST 2013
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
    div(class="events news-events__events")
        div(class="events__content-block events__content-block_color_green")
            h1(class="events__date-1") 24
            h1(class="events__date-2") Aug
            h2(class="events__title") THIS IS THE TITLE
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            button(class="std-button std-button_color_green events__button") ADD TO CALENDAR