.search-drop-down
    float left
    width 48.5%

.search
    height 28px

.search-drop-down__search-1
    margin 20px 0 16px
    width 100%

.search-drop-down__search-2
    margin 0 0 8px
    width 100%

.search__input
    border none
    background #E5E5E5
    border-top-left-radius 3px
    border-bottom-left-radius 3px
    padding-left 13px
    color #888888
    float left
    width 88.5416%
    height 28px

.search__input_color_red
    background #E75735
    color #FFFFFF
    font-weight bold
    font-family 'Lato', Sans-Serif

.search__button
    float left
    width 11.4584%
    height 28px
    border none
    background #E75735 url(blocks/search-drop-down/images/mag_glass.png) 10px 7px no-repeat
    border-top-right-radius 3px
    border-bottom-right-radius 3px
	
/*JQuery UI selectmenu CSS start here*/
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.ui-selectmenu-text:after {
    content: "";
    width: 11.5%;
    height: 100%;
    background: #4EB7A8 url(blocks/search-drop-down/images/arrow_down.png) 8px 10px no-repeat;
    color: #FFFFFF;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius 3px
    border-bottom-right-radius 3px
}

.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 1px;
}

.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	padding: 2px 0.4em;
	margin: 0.5em 0 0 0;
	height: auto;
	border: 0;
}

.ui-selectmenu-open {
	display: block;
}

.ui-selectmenu-text {
	display: block;
	margin-right: 5%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-selectmenu-button.ui-button {
	text-align: left;
	white-space: nowrap;
}

.ui-button {
	width: 91.4%;
	background: #E5E5E5;
	font-weight: normal;
	color: #888888;
	padding: .4em 1em;
    height: 17px;
    margin-top: 18px;
	display: block;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: 0;
}

.ui-menu .ui-menu-item-wrapper {
	position: relative;
	padding: 3px 1em 3px .4em;
}

.ui-front {
	z-index: 100;
}

.ui-widget {
	font-size: 0.7rem;
    letter-spacing: 0.02rem;
}

.ui-widget-content {
	background: #E5E5E5;
	color: #333333;
}

.ui-state-active,
.ui-button:active {
	background: #E75735;
	font-weight: normal;
	color: #FFFFFF;
}
/*JQuery UI selectmenu CSS end here*/