div(class="search-drop-down")
    +header-of-block("SEARCH / DROP DOWN")
    div(class="search search-drop-down__search-1")
        input(class="search__input", type="search", placeholder="Search", name="keywords")
        button(class="search__button")
    div(class="search search-drop-down__search-2")
        input(class="search__input search__input_color_red", type="search", placeholder="I've not found what I'm looking for...", name="keywords")
        button(class="search__button")
    select(id="selectmenu")
        option(selected="selected") Choose An Option
        option Slow
        option Slower
        option Fast
        option Faster