.arr-buttons
    min-height 140px
    &__positioner
        margin-left 74px

.arr-button
    width 50px
    height 50px
    border-radius 50%
    border none
    color #FFFFFF
    &__arrow
        width 27px
        height 37px
    &_color_green
        background #4EB7A8
    &_color_gray
        background #E5E5E5
    &_color_white
        background #FFFFFF
        color #4EB7A8
        border 3px solid #4EB7A8

.arr-buttons__arr-button
    margin 23px 12px 12px 12px