div(class="user-profile")
    +header-of-block("USER PROFILE")
    div(class="profile user-profile__block-1")
        div(class="profile__photo profile__photo_num-photo_1")
        div(class="profile__content")
            h1(class="profile__name profile__name_theme_light") John Smith
            h2(class="profile__post profile__post_theme_light") UX DESIGNER
            div(class="profile__icons")
                img(src='public/images/FB.png')
                img(src='public/images/TW.png', class="profile__social-icon-middle")
                img(src='public/images/DR.png')
    div(class="profile user-profile__block-2")
        div(class="profile__photo profile__photo_num-photo_2")
        div(class="profile__content profile__content_theme_green")
            h1(class="profile__name profile__name_theme_green") Sarah Brown
            h2(class="profile__post profile__post_theme_green") DEVELOPER
            div(class="profile__icons")
                img(src='public/images/FB_white.png')
                img(src='public/images/TW_white.png', class="profile__social-icon-middle")
                img(src='public/images/DR_white.png')