.search
  display flex
  min-height 28px
  &__input
    border none
    background #E5E5E5
    border-top-left-radius 3px
    border-bottom-left-radius 3px
    padding-left 13px
    color #888888
    width 88.5416%
    &_color_red
      background #E75735
      color #FFFFFF
      font-weight bold
      font-family 'Lato', Sans-Serif
  &__button
    width 11.4584%
    cursor pointer
    border none
    background #E75735 url(../blocks/search-form/images/mag-glass.png) 50% 50% no-repeat
    border-top-right-radius 3px
    border-bottom-right-radius 3px