.search
  display flex
  min-height 1.556rem

  &__input
    border none
    background #E5E5E5
    border-top-left-radius 0.167rem
    border-bottom-left-radius 0.167rem
    padding-left 0.722rem
    color #888888
    width 88.5416%

    &_color_red
      background #E75735
      color #FFFFFF
      font-weight bold
      font-family 'Lato', Sans-Serif

  &__button
    width 11.4584%
    cursor pointer
    border none
    background #E75735 url(images/mag-glass.png) 50% 50% no-repeat
    border-top-right-radius 0.167rem
    border-bottom-right-radius 0.167rem