.search
	&__input
		border none
		background #E5E5E5
		border-top-left-radius 3px
		border-bottom-left-radius 3px
		padding-left 13px
		color #888888
		float left
		width 88.5416%
		height 28px
		&_color_red
			background #E75735
			color #FFFFFF
			font-weight bold
			font-family 'Lato', Sans-Serif
	&__button
		float left
		width 11.4584%
		height 28px
		border none
		background #E75735 url(../blocks/search-form/images/mag_glass.png) 10px 7px no-repeat
		border-top-right-radius 3px
		border-bottom-right-radius 3px