.percentage
  max-width 96px
  max-height 96px
  &__circle
    fill none
    stroke #E75735
    stroke-width 5
    stroke-dashoffset 84
  &__text
    font-weight normal
    font-size 2.3rem
    fill #9d9d9d