.portfolio

  &__header
  &__stage
  &__percentage
  &__positioner
    margin 1rem auto
    max-width 32rem
    padding 0 1rem

  &__slider

    &-discrete
    &-with-pop-up
      margin 4rem auto
      max-width 32rem
      padding 0 1rem

  &__pie-chart
  &__toggle-switch
  &__tick-box
    display inline-block
    margin-right 1rem