include ../../blocks/percentage/percentage.pug
include ../../blocks/pie-chart/pie-chart.pug
include ../../blocks/slider-discrete/slider-discrete.pug
include ../../blocks/slider-with-pop-up/slider-with-pop-up.pug
include ../../blocks/stage/stage.pug
include ../../blocks/toggle-switch/toggle-switch.pug
include ../../blocks/tick-box/tick-box.pug

mixin portfolio-boarder(options = {percentageMaxNumber: 100, percentageStep: 4.5})
    -let {percentageMaxNumber = 100, percentageStep = 4.5} = options;
    .portfolio
        .portfolio__header Здесь представлены примеры моей работы, в частности верстка элементов пользовательского интерфейса.
        .portfolio__stage
            +stage({markedStage:6, maxStage:9, colorOfMarkedStage:"#091DF4", colorOfInactiveStage:"#FEED03",
                    textColor:"#FEED03", inactiveTextColor:"#091DF4"})
        .portfolio__slider-discrete
            +slider-discrete({min: 0, max: 100, step: 10, value: 70, range: "min", theme: "green"})
        .portfolio__slider-with-pop-up
            +slider-with-pop-up({min: 10, max: 100, step: 1, value: 30, range: "", theme: "orange"})
        .portfolio__positioner
            .portfolio__pie-chart
                +pie-chart([{color:"#E5E5E5", percent:20},
                            {color:"orange", percent:10},
                            {color:"#091DF4", percent:25},
                            {color:"yellow", percent:15},
                            {color:"#E75735", percent:30}])
            .portfolio__toggle-switch
                +toggle-switch({checked: true})
            .portfolio__tick-box
                +tick-box({checked: true, id: "c1"})
        .portfolio__percentage
            -for(let i = 0; i <= percentageMaxNumber; i += percentageStep) {
                +percentage(i)
            -}