mixin selectmenu(options = {selectedItem: 1, items:["Choose An Option","Option 1","Option 2","Option 3","Option 4"]})
    -let {selectedItem = 1, items = ["Choose An Option","Option 1","Option 2","Option 3","Option 4"]} = options;
    select.selectmenu.js-selectmenu
        -items.forEach((item,i) => {
            -if (selectedItem == (i+1)) {
                option.selectmenu__item(selected)= item
            -} else {
                option.selectmenu__item= item
            -}
        -});