.pie-chart
	max-width 96px
	max-height 96px

.pie-chart__circle
	fill none
	stroke-width 17

.pie-chart__circle_color_grey
	stroke #E5E5E5

.pie-chart__circle_color_red
	stroke #747474

.pie-chart__circle_color_green
	stroke #E75735

.pie-chart__circle_color_light-grey
	stroke #4EB7A8