mixin pie-chart(options = [{color:"#E5E5E5", percent:100}])
    svg.pie-chart
        -let partOfCircle = 0, emptyPartOfCircle = 0, lastPartOfCircle = 0, dashOffSet = 0;
        -options.forEach(function(item, i, arr) {
            -if (i == 0) {
                circle.pie-chart__circle(stroke= item.color, r="39", cx="50%", cy="50%")
            -} else {
            -partOfCircle = Math.round(item.percent * 245 / 100);
            -emptyPartOfCircle = 245 - partOfCircle;
            -dashArray = `${partOfCircle} ${emptyPartOfCircle}`;
            -dashOffSet -= lastPartOfCircle;
            circle.pie-chart__circle(stroke= item.color, r="39", cx="50%", cy="50%", stroke-dashoffset= dashOffSet+61, stroke-dasharray= dashArray)
            -lastPartOfCircle = partOfCircle;
        -}});