.pie-chart
  max-width 96px
  max-height 96px

.pie-chart__circle
  fill none
  stroke-width 17
  &_color_grey
    stroke #E5E5E5
  &_color_red
    stroke #747474
  &_color_green
    stroke #E75735
  &_color_light-grey
    stroke #4EB7A8