@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Black.eot');
    src: local('☺'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-light.eot');
    src: local('☺'), url('fonts/lato-light.woff') format('woff'), url('fonts/lato-light.ttf') format('truetype'), url('fonts/lato-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'blocks/main-header/main-header.styl'
@import 'blocks/main-nav/main-nav.styl'
@import 'blocks/main-article/main-article.styl'
@import 'blocks/main-footer/main-footer.styl'

@import 'blocks/std-buttons/std-buttons.styl'
@import 'blocks/arr-buttons/arr-buttons.styl'
@import 'blocks/perc-pie-chart/perc-pie-chart.styl'
@import 'blocks/sliders/sliders.styl'
@import 'blocks/stages/stages.styl'
@import 'blocks/form-elements/form-elements.styl'
@import 'blocks/search-drop-down/search-drop-down.styl'
@import 'blocks/user-profile/user-profile.styl'
@import 'blocks/news-events/news-events.styl'
@import 'blocks/location/location.styl'
@import 'blocks/calendar/calendar.styl'
@import 'blocks/messaging/messaging.styl'
@import 'blocks/video/video.styl'

.main
    font-size 18px
    background #111111
    &__page
        width 100%
        margin 0
        
.page
    background #ffffff
    color #4F4F4F
    font-family 'Lato', Sans-Serif