doctype html
html(class="main")
    head
        meta(charset = "utf-8")/
        meta(name = "description", content = "Мой сайт из набора элементов")/
        meta(name = "keywords", content = "верстка")/
        meta(name = "author", content = "Sergey Karbyshev")/
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")/
        script(src="vendors/jquery-ui-1.12.1.custom/external/jquery/jquery.js")
        script(src="vendors/jquery-ui-1.12.1.custom/jquery-ui.js")
        title MySite
    body(class="page main__page")
        include blocks/main-header/main-header.pug
        include blocks/main-nav/main-nav.pug
        include blocks/main-article/main-article.pug
        include blocks/main-footer/main-footer.pug

//include blocks/std-buttons/std-buttons.pug
//include blocks/arr-buttons/arr-buttons.pug
//include blocks/perc-pie-chart/perc-pie-chart.pug
//include blocks/sliders/sliders.pug
//include blocks/stages/stages.pug
//include blocks/form-elements/form-elements.pug
//div(class="page__positioner-1")
//  include blocks/search-drop-down/search-drop-down.pug
//  include blocks/user-profile/user-profile.pug
//include blocks/news-events/news-events.pug
//include blocks/location/location.pug
//div(class="page__positioner-2")
//  include blocks/calendar/calendar.pug
//  include blocks/messaging/messaging.pug
//include blocks/video/video.pug