.tick-box
  &-input
    display none
  &-circle-arrow
    display inline-block
    width 23px
    height 23px
    margin-right 17px
    background url(../blocks/tick-box/images/tick-boxes.png) -30px 0 no-repeat
    cursor pointer
  &-input:checked + label span
    background url(../blocks/tick-box/images/tick-boxes.png) 0 0 no-repeat