.tick-box

  &-input
    display none

    &:checked + label span
      background url(images/tick-boxes.png) 0 0 no-repeat

  &-circle-arrow
    display inline-block
    width 1.278rem
    height 1.278rem
    margin-right 0.944rem
    background url(images/tick-boxes.png) -1.667rem 0 no-repeat
    cursor pointer