include ../standard-button/standard-button.pug

mixin chat(options = {name: "Sarah Brown", photo: "images/photo-sarah-brown.png", message: "Hey ! So are we cool to meet at the art gallery? Say 8pm", inputPlaceholder: "Yeah that sounds great. See you then.", buttonSettings: {text:"reply", color:"green", size:"", effect:"", activeStatus:""}})
    -let {name = "Sarah Brown", photo = "images/photo-sarah-brown.png", message = "Hey ! So are we cool to meet at the art gallery? Say 8pm", inputPlaceholder = "Yeah that sounds great. See you then.", buttonSettings = {text:"reply", color:"green", size:"", effect:"", activeStatus:""}} = options;
    form.chat
        .chat__name= name
        .chat__header-lower-block
            .chat__photo(style=`background-image: url(${photo});`)
        .chat__body
            .chat__icons
                .chat__icon.chat__icon_left
                .chat__icon.chat__icon_right
            .chat__message= message
                .chat__message-tail
            textarea.chat__input= inputPlaceholder
            .chat__button
                +standard-button(buttonSettings)