.chat
	&__header-1
		position relative
		background #4EB7A8
		color #FFFFFF
		min-height 65px
		font-size 1.8rem
		text-align center
		letter-spacing -0.1rem
		padding 17px 0 0 0
		border-top-left-radius 3px
		border-top-right-radius 3px
	&__header-2
		background #46AB9D
		min-height 34px
	&__photo
		position absolute
		top 70px
		left 32.6%
		width 86px
		min-height 86px
		border-radius 50%
		border 4px solid #E5E5E5
		background url(../blocks/profile/images/photo_JS.png) -15px -2px no-repeat
	&__body
		background #F2F2F2
		min-height 250px
		border-bottom-left-radius 3px
		border-bottom-right-radius 3px
		padding-top 62px
	&__icon
		position absolute
		width 25px
		height 22px
		background url(../blocks/chat/images/icon-3.png) 0 0 no-repeat
		&_left
			left 9.5%
			top 138px
		&_right
			background-position 97% 0
			left 81.7%
			top 137px
	&__message
		position relative
		background #FFFFFF
		color #868686
		width 199px
		height 50px
		border-radius 5px
		margin 0 auto
		padding 17px 25px 0 20px
		font-size 0.7rem
		letter-spacing 0.04rem
		&-tail
			content ''
			border 7px solid transparent
			border-bottom 6px solid #FFFFFF
			position absolute
			left 50%
			margin-left -12px
			top -12px
		&-input
			display block
			width 200px
			height 66px
			border 4px solid #FFFFFF
			border-radius 5px
			margin 19px auto 0
			background #E5E5E5
			color #868686
			font-family 'Lato', Sans-Serif
			font-size 0.7rem
			letter-spacing 0.04rem
			padding 14px 20px 0 16px

@media only screen and (max-width 604px)
	.messaging__massage:before
		top 232px