.perc-pie-chart
    min-height 165px

.percentage
    max-width 96px
    max-height 96px
    &__circle
        fill none
        stroke #E75735
        stroke-width 5
        stroke-dashoffset 84
    &__text
        font-weight normal
        font-size 2.3rem
        fill #9d9d9d

.pie-chart
    max-width 96px
    max-height 96px

.perc-pie-chart__graphics
    float left

.perc-pie-chart__graphics:nth-child(2)
    margin 11px 15px 0 -8px

.perc-pie-chart__graphics:nth-child(3)
    margin 12px 38px 0 0

.perc-pie-chart__graphics:nth-child(4)
    margin 12px 34px 0 0

.perc-pie-chart__graphics:nth-child(5)
    margin 12px 30px 0 0

.perc-pie-chart__graphics:last-child
    margin 12px 0 0 0

.pie-chart__circle
    fill none
    stroke-width 17

.pie-chart__circle_color_grey
    stroke #E5E5E5

.pie-chart__circle_color_red
    stroke #747474

.pie-chart__circle_color_green
    stroke #E75735

.pie-chart__circle_color_light-grey
    stroke #4EB7A8