.arrow-button
  width 2.778rem
  height 2.778rem
  border-radius 50%
  border none
  color #FFFFFF
  cursor pointer

  &__arrow
    width 1.5rem
    height 2.056rem

  &_color

    &_green
      background #4EB7A8

    &_gray
      background #E5E5E5

    &_white
      background #FFFFFF
      color #4EB7A8
      border 0.167rem solid #4EB7A8